{% extends 'djApp/base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/myTasks.css' %}">

<h3 class="tasks-title">My Tasks</h3>

{% if tasks %}
<div class="tasks-grid">
    {% for task in tasks %}
    <div class="task-card {% if task.status == 'New' %}new{% elif task.status == 'Completed' %}completed{% elif task.status == 'In Progress' %}in-progress{% else %}pending{% endif %}">

        <div class="task-header">
            <h4>{{ task.name }}</h4>
        </div>

        <p class="task-desc">{{ task.desc }}</p>

        <div class="task-footer">
            <span>📅 {{ task.destDate }}</span>
            <span>🎯 {{ task.status }}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="no-tasks">You don't have tasks now 🎉</p>
{% endif %}


    {#<a href="{% url 'home' %}">Back to Login</a>#}
{% endblock %}